@import "./mocha.css";

* {
  font-family: "Adwaita Sans","JetBrainsMono Nerd Font Propo", monospace;
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  background-color: transparent;
  border: none;
}

#workspaces button {
  padding: 0 16px;
  background: transparent;
  border: none;
  border-radius: 10px;
  margin: 0 5px;
  color: alpha(@teal, 0.2);
}

#workspaces button.focused,
#workspaces button.active {
  color: @mauve;
  background-color: alpha(@crust, 0.4);
  border: none;
}

#workspaces button.urgent {
  background-color: @red;
  border: none;
}

#workspaces button:hover {
  box-shadow: inherit;
  background: inherit;
  text-shadow: inherit;

  background-color: @base;
  color: @text;
  border: none;
}

#idle_inhibitor,
#pulseaudio,
#network,
#power-profiles-daemon,
#cpu,
#memory,
#temperature,
#backlight,
#keyboard-state,
#battery,
#clock,
#tray,
#custom-notification {
  padding: 0 10px;
  border-radius: 10px;
  background-color: alpha(@crust, 0.4);
}

#idle_inhibitor:hover,
#pulseaudio:hover,
#network:hover,
#power-profiles-daemon:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#backlight:hover,
#keyboard-state:hover,
#battery:hover,
#clock:hover,
#tray:hover,
#custom-notification:hover {
  color: @text;
  background-color: @base;
}

#idle_inhibitor {
  color: @pink;
}

#pulseaudio {
  color: @mauve;
}

#network {
  color: @red;
}

#power-profiles-daemon {
  color: @maroon;
}

#cpu {
  color: @peach;
}

#memory {
  color: @yellow;
}

#temperature {
  color: @green;
}

#backlight {
  color: @green;
}

#keyboard-state {
  color: @teal;
}

#battery {
  color: @sky;
}

#clock {
  color: @sapphire;
}

#tray {
  color: @blue;
}

#custom-notification {
  color: @lavender;
  margin-right: 10px;
}
