input {
    keyboard {
        xkb {
            layout "br"
        }
        repeat-delay 200
        repeat-rate 25
        numlock
    }

    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        accel-speed 0.9
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }

    // warp-mouse-to-focus
    // focus-follows-mouse max-scroll-amount="0%"
}

/-output "DP-1" {
    mode "3440x1444@160"
    scale 1
    transform "normal"
    position x=2560 y=0
    focus-at-startup

    hot-corners {
      off
    }
}

/-output "DP-2" {
    mode "2560x1080@75"
    scale 1
    transform "normal"
    position x=0 y=0

    hot-corners {
      off
    }
}

layout {
    gaps 8
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        off
        width 3
        // active-color "#7fc8ff"
        // inactive-color "#505050"

        active-gradient from="#cba6f7" to="#f5c2e7" angle=45
        inactive-gradient from="#1e1e2e" to="#181825" angle=45 relative-to="workspace-view"
    }

    border {
        on
        width 3
        // active-color "#ffc87f"
        // inactive-color "#505050"
        // urgent-color "#f38ba8"
        // active-gradient from="#cba6f7" to="#f5c2e7" angle=45 relative-to="workspace-view" in="oklch longer hue"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    // struts {
    //     left 14
    //     right 14
    //     top 14
    //     bottom 14
    // }
}

hotkey-overlay {
    skip-at-startup
}

// spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
// spawn-at-startup "swww-daemon"
// spawn-at-startup "swayosd-server"
// spawn-at-startup "wl-paste --watch cliphist -max-itens 10 store"
// spawn-at-startup "wlsunset -S 6:30 -s 20:00"
// spawn-at-startup "swaync"

prefer-no-csd

screenshot-path "~/Imagens/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
// screenshot-path null

animations {
    // off
    slowdown 3.0
}

window-rule {
    open-maximized false
    default-column-width { proportion 0.5; }
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // block-out-from "screencast"
}

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    draw-border-with-background false
}

window-rule {
    match is-active=false
    opacity 0.9
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

// Open DMS windows as floating by default
window-rule {
    match app-id=r#"org.quickshell$"#
    open-floating true
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Apps
    Mod+Return hotkey-overlay-title="Open a Terminal: alacritty" { spawn "alacritty"; }
    Mod+B hotkey-overlay-title="Open a Browser: chromium" { spawn "chromium"; }

    // DMS
    // Application Launchers
    Mod+Space hotkey-overlay-title="Application Launcher" {
        spawn "dms" "ipc" "call" "spotlight" "toggle";
    }
    Mod+C hotkey-overlay-title="Clipboard Manager" {
        spawn "dms" "ipc" "call" "clipboard" "toggle";
    }
    Mod+M hotkey-overlay-title="Task Manager" {
        spawn "dms" "ipc" "call" "processlist" "focusOrToggle";
    }
    Mod+Alt+Comma hotkey-overlay-title="Settings" {
        spawn "dms" "ipc" "call" "settings" "focusOrToggle";
    }
    Mod+N hotkey-overlay-title="Notification Center" {
        spawn "dms" "ipc" "call" "notifications" "toggle";
    }
    Mod+Y hotkey-overlay-title="Browse Wallpapers" {
        spawn "dms" "ipc" "call" "dankdash" "wallpaper";
    }

    Mod+Shift+L hotkey-overlay-title="Lock Screen" {
        spawn "dms" "ipc" "call" "lock" "lock";
    }
    Mod+Shift+Ctrl+N hotkey-overlay-title="Night mode" {
        spawn "dms" "ipc" "call" "night" "toggle";
    }
    Mod+Escape hotkey-overlay-title="Night mode" {
        spawn "dms" "ipc" "call" "powermenu" "toggle";
    }

    // Audio Controls
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "increment" "3";
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "decrement" "3";
    }
    XF86AudioMute allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "mute";
    }

    // Brightness Controls
    XF86MonBrightnessUp allow-when-locked=true {
       spawn "dms" "ipc" "call" "brightness" "increment" "5" "";
    }
    XF86MonBrightnessDown allow-when-locked=true {
       spawn "dms" "ipc" "call" "brightness" "decrement" "5" "";
    }
    
  Mod+O repeat=false { toggle-overview; }
  Mod+Q repeat=false { close-window; }

  Mod+H          { focus-column-left; }
  Mod+L          { focus-column-right; }
  Mod+J          { focus-window-or-workspace-down; }
  Mod+K          { focus-window-or-workspace-up; }

  Mod+Ctrl+H     { move-column-left; }
  Mod+Ctrl+L     { move-column-right; }
  Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
  Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

  Mod+Alt+H      { focus-monitor-left; }
  Mod+Alt+L      { focus-monitor-right; }
  // Mod+Alt+J      { focus-monitor-down; }
  // Mod+Alt+K      { focus-monitor-up; }

  Mod+Ctrl+Alt+H { move-column-to-monitor-left; }
  Mod+Ctrl+Alt+L { move-column-to-monitor-right; }
  // Mod+Ctrl+Alt+J { move-column-to-monitor-down; }
  // Mod+Ctrl+Alt+K { move-column-to-monitor-up; }

  // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
  // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }

  // Mod+U              { focus-workspace-down; }
  // Mod+I              { focus-workspace-up; }
  // Mod+Shift+U         { move-column-to-workspace-down; }
  // Mod+Shift+I         { move-column-to-workspace-up; }

  // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }

  // Mod+Shift+Page_Down { move-workspace-down; }
  // Mod+Shift+Page_Up   { move-workspace-up; }
  // Mod+Shift+U         { move-workspace-down; }
  // Mod+Shift+I         { move-workspace-up; }

  Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
  Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
  Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
  Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

  Mod+WheelScrollRight           { focus-column-right; }
  Mod+WheelScrollLeft            { focus-column-left; }
  Mod+Ctrl+WheelScrollRight      { move-column-right; }
  Mod+Ctrl+WheelScrollLeft       { move-column-left; }

  Mod+Shift+WheelScrollDown      { focus-column-right; }
  Mod+Shift+WheelScrollUp        { focus-column-left; }
  Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
  Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

  // Mod+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
  // Mod+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }

  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }
  Mod+Ctrl+1 { move-column-to-workspace 1; }
  Mod+Ctrl+2 { move-column-to-workspace 2; }
  Mod+Ctrl+3 { move-column-to-workspace 3; }
  Mod+Ctrl+4 { move-column-to-workspace 4; }
  Mod+Ctrl+5 { move-column-to-workspace 5; }
  Mod+Ctrl+6 { move-column-to-workspace 6; }
  Mod+Ctrl+7 { move-column-to-workspace 7; }
  Mod+Ctrl+8 { move-column-to-workspace 8; }
  Mod+Ctrl+9 { move-column-to-workspace 9; }

  // Mod+Ctrl+1 { move-window-to-workspace 1; }

  // Mod+Tab { focus-workspace-previous; }

  Mod+BracketLeft  { consume-or-expel-window-left; }
  Mod+BracketRight { consume-or-expel-window-right; }

  Mod+Comma  { consume-window-into-column; }
  Mod+Period { expel-window-from-column; }

  Mod+R { switch-preset-column-width; }
  // Mod+R { switch-preset-column-width-back; }
  Mod+Shift+R { switch-preset-window-height; }
  Mod+Ctrl+R { reset-window-height; }
  Mod+F { maximize-column; }
  Mod+Shift+F { fullscreen-window; }

  Mod+Ctrl+F { expand-column-to-available-width; }

  Mod+Ctrl+C { center-visible-columns; }

  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }

  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Equal { set-window-height "+10%"; }

  Mod+V       { toggle-window-floating; }
  Mod+Shift+V { switch-focus-between-floating-and-tiling; }

  Mod+W { toggle-column-tabbed-display; }

  // Mod+Space       { switch-layout "next"; }
  // Mod+Shift+Space { switch-layout "prev"; }

  Print { screenshot; }
  Ctrl+Print { screenshot-screen; }
  Alt+Print { screenshot-window; }

  // Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  Mod+Shift+E { quit; }
  Ctrl+Alt+Delete { quit; }

  Mod+Shift+P { power-off-monitors; }

}

include "dms/colors.kdl"
include "dms/binds.kdl"
include "dms/wpblur.kdl"
include "dms/cursor.kdl"
include "dms/layout.kdl"
